.ui-widget.ui-widget-content.ui-tabs {
    position: relative;
    padding: 0;
    border: none;
    width: 100%;
}

.ui-tabs .ui-tabs-panel {
    border: 1px solid #eee;
    background: none;
    height: 100%;
    padding: 0;
}

.ui-tabs .ui-tabs-panel pre {
    margin: 0;
    height: 100%;
    background: none;
    border: none;
}

.ui-tabs .ui-tabs-panel pre > code {
    height: 100%;
    padding: 0;
    background: none;
}

.ui-tabs .ui-tabs-panel iframe {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    border: none;
}

/* Loader */ 
.loader {
	position: absolute;
	top: calc(50% - 1em);
	left: calc(50% - 1em);
    border: .3em solid #f5f5f5;
    border-top: .3em solid #0099ff;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 2s linear infinite;
}
.loader.hidden {
	display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* JSFIddle */

.JSFiddle a {
    background: url(../images/JSFiddle-img.png) no-repeat 10px center #09f;
    color: #fff;
    border: none;
    padding: 0 10px 0 50px;
    position: relative;
    float: right;
    line-height: 40px;
    font-size: 16px;
}

.JSFiddle a:hover {
    text-decoration: none;
    background: url(../images/JSFiddle-img.png) no-repeat 10px center #0083db;
}

/* tabs */
.ui-tabs .ui-tabs-nav {
  background-color: #282828;
  border: 0 none;
  padding: 0;
  text-align: left;
  border-radius: 0;
  height: 40px;
  padding-left: 0 !important;
}

.ui-tabs .ui-tabs-nav li {
  height: 40px;
  background: none;
  border-radius: 0;
  margin: 0 !important;
  border-width: 0;
  border-color: transparent;
  border-bottom-width: 5px;
  box-sizing: border-box;
  text-align: center;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover {
  border-bottom: 5px solid #666;
}

.ui-tabs .ui-tabs-nav li.ui-state-active {
  padding-bottom: 0;
  border-bottom: 5px solid #0099ff;
}

.ui-tabs .ui-tabs-nav li.ui-state-active a {
  cursor: default !important;
  -webkit-touch-callout: none;
}